<header class="col-12">
	<h1>Snack Time!</h1>
	<h2>add a snack you want to eat</h2>
	<form>
		<div>
			<select id="snack-types" name="Snack Types">
                <option disabled selected>Category</option>
                <option value="healthy">healthy</option>
                <option value="space">junk</option>
            </select>
		</div>
		<div>
			<input placeholder="Snack">
		</div>
		<button type="submit">Add Snack</button>
	</form>
</header>

<section id="uneaten" class="col-md-6 col-sm-12">
	<h2>Uneaten:</h2>
	<ul>
	{{#each snacks}}
		{{#unless devoured}}
			{{> snacks/snack-block devoured=true}}
		{{/unless}}
	{{/each}}
	</ul>
</section>

<section id="devoured" class="col-md-6 col-sm-12">
	<h2>Devoured:</h2>
	<ul>
	{{#each snacks}}
		{{#if devoured}}
			{{> snacks/snack-block devoured=false}}
		{{/if}}
	{{/each}}
	</ul>
</section>