  
<li>
	<p class="category">{{category}}</p>
	<h3 class="snack">{{snack}}</h3>
	
	{{#if devoured}}
	<button class= "change-status" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour It!</button>
	{{/if}}
</li>
